<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <application android:label="YORU Forge" android:extractNativeLibs="true" android:icon="@drawable/ic_forge" android:roundIcon="@drawable/ic_forge" android:theme="@style/ForgeTheme" android:allowBackup="false" android:fullBackupContent="false" android:supportsRtl="false">
  <activity android:name=".ForgeActivity" android:exported="true" android:windowSoftInputMode="adjustResize">
   <intent-filter>
    <action android:name="android.intent.action.MAIN" />
    <category android:name="android.intent.category.LAUNCHER" />
   </intent-filter>
  </activity>
 </application>
</manifest>
